#### Ubuntu Preconfiguration file
# For examples, refer to :
# - https://help.ubuntu.com/lts/installation-guide/example-preseed.txt
# - https://help.ubuntu.com/lts/installation-guide/s390x/apbs03.html

### Localization
d-i debian-installer/locale string en_US


# Keyboard selection.
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string us
d-i keyboard-configuration/modelcode string pc105


### Network configuration
d-i netcfg/choose_interface select auto


### Mirror settings
choose-mirror-bin mirror/http/proxy string


### Account setup
d-i passwd/user-fullname string ubuntu
d-i passwd/username string ubuntu
d-i passwd/user-password password ubuntu
d-i passwd/user-password-again password ubuntu
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false
d-i passwd/user-default-groups ubuntu sudo
d-i passwd/user-uid string 900


### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true


### Partitioning
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true


### Base system installation
d-i base-installer/kernel/image string linux-virtual


### Package selection
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server
d-i pkgsel/install-language-support boolean false
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade


### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true


### Finishing up the installation

d-i finish-install/reboot_in_progress note
